<h1>Listing resources_and_links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources_and_links.each do |resources_and_link| %>
  <tr>
    <td><%= resources_and_link.title %></td>
    <td><%= resources_and_link.content %></td>
    <td><%= link_to 'Show', resources_and_link %></td>
    <td><%= link_to 'Edit', edit_resources_and_link_path(resources_and_link) %></td>
    <td><%= link_to 'Destroy', resources_and_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resources and link', new_resources_and_link_path %>
