<h1>Listing birth_stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @birth_stories.each do |birth_story| %>
  <tr>
    <td><%= birth_story.title %></td>
    <td><%= birth_story.content %></td>
    <td><%= link_to 'Show', birth_story %></td>
    <td><%= link_to 'Edit', edit_birth_story_path(birth_story) %></td>
    <td><%= link_to 'Destroy', birth_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Birth story', new_birth_story_path %>
